<div class="container border border-4 my-5">

  <h1>ORDER</h1>
  <div class="border border-4">
    <h4>Congratulations on the purchase, thanks for the preference!!</h4>
  </div>
  <div class="border border-4 my-3">
    <p>Model: <%=@order.sneaker.model%></p>
    <p>Size: <%=@order.sneaker.size%></p>
    <p>Brand: <%=@order.sneaker.brand%></p>
    <p>Condition: <%=@order.sneaker.condition%></p>
    <p>Price: <%=@order.sneaker.price%></p>
    <p>Amount: <%=@order.sneaker.amount%></p>
    <p>Description: <%=@order.sneaker.description%></p>
  </div>
  

  
  <%= link_to "Back Home", sneakers_path, class: "btn btn-danger my-3" %>
</div>
