
  <div class="row">
    <div class="col-6">
      <% if @sneaker.photos.attached? %>
        <div id="sneaker-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @sneaker.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= cl_image_tag photo.key, height: 300, width: 500, crop: :fill, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#sneaker-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#sneaker-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>

    <div class="col-6">
      <h2> Model: <%=@sneaker.model%></h2>
      <p><strong> Size: </strong><%=@sneaker.size%></p>
      <p><strong> Brand: </strong><%=@sneaker.brand%></p>
      <p><strong> Condition: </strong> <%=@sneaker.condition%></p>
      <p><strong> Description: </strong><%=@sneaker.description%></p>
      <p><strong> Amount: </strong><%=@sneaker.amount%></p>
      <div class="d-flex justify-content-evenly align-items-center">
        <% if @sneaker.user == current_user %>
          <%= link_to "Delete", sneaker_path(@sneaker), method: :delete,  data: { confirm: 'Are you sure you want delete?' }, class:'btn btn-flat'%>
        <% else %>
          <%= link_to "Buy", sneaker_orders_path(@sneaker), method: :post, data: { confirm: 'Are you sure you want to buy?' }, class:'btn btn-flat'%>
        <% end %>
        <div class="card-body">
          <%= link_to "Back", sneakers_path, class:"text-decoration-none" %>
        </div>
      </div>
    </div>
