<h1><%=@sneaker.model%></h1>

<p><%=@sneaker.size%></p>
<p><%=@sneaker.brand%></p>
<p><%=@sneaker.condition%></p>
<p><%=@sneaker.price%></p>
<p><%=@sneaker.inventory%></p>
<p><%=@sneaker.description%></p>

<%= link_to "Delete", sneaker_path(@sneaker), method: :delete,  data: { confirm: 'Are you sure you want delete?' } %>
<%= link_to "Buy", new_sneaker_order_path(@sneaker)%>
